
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;background-color:inherit;color:inherit;width:auto;border:none;outline:none;display:block}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{background-color:inherit;color:inherit;white-space:normal}


.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:green!important}


.w3-button{color:#000;background-color:#f1f1f1;padding:8px 16px}
.w3-button:hover{color:#000!important;background-color:#ccc!important}


.w3-container{padding:0.01em 16px}


.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,.w3-cell-row:before,.w3-cell-row:after,
.w3-topnav:after,.w3-topnav:before,.w3-clear:after,.w3-clear:before,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after,.w3-bar:before,.w3-bar:after
{content:"";display:table;clear:both}

.w3-padding-64{padding-top:25px!important;padding-bottom:25px!important}
.w3-center{text-align:center!important}
.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}
.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}

.w3-content{max-width:980px;margin:auto}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,.w3-cell-row:before,.w3-cell-row:after,
.w3-topnav:after,.w3-topnav:before,.w3-clear:after,.w3-clear:before,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after,.w3-bar:before,.w3-bar:after
{content:"";display:table;clear:both}

.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}
.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s12,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{width:100%}
.w3-col.m4,.w3-third{width:32%}
.w3-col.l4,.w3-third{width:32%}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.main{
  height: 40%;
  width: 99%;
  top: 15%;  
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 10px;

}

.split {
  height: 40%;
  width: 20%;
  border: 3px solid #73AD21;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 10px;
}

.left {
  left: 1%;
  background-color: grey;
}

.right {
  right: 1%;
  background-color: grey;
}

.center {
  background-color: grey;
  margin: auto;
  height: 70%;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
  left: 25%;

  position: fixed;
  z-index: 1;
  overflow-x: hidden;


}

.centered {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}
